@{
    ViewData["Title"] = "Home Page";
}

<div>
    <table>
        <tr>
            <td>
                <h1>Rain Forest Canopy ==============</h1>
            </td>
            <td></td>
        </tr>
        <tr>
            <td width="600px" margin="10,10,10,10">
                <h3>Click the Play button in the right column >> to hear NPR's Madelien K. Sofia interview ecologist Nalini Nadkarni.</h3></td>
            <td>
                <iframe src="https://www.npr.org/player/embed/770417074/770417075" width="400" height="180" frameborder="0" scrolling="no" title="NPR embedded audio player"></iframe>
            </td>
        </tr>
        <tr>
            <td><h3>Nalini Nadkarni's Treetop Barbie page</h3></td>
            <td><a href="https://nalininadkarni.com/treetop-barbie/"><h3>Click This</h3></a></td>
        </tr>
        <tr>
            <td style="padding-right: 20px;"><h3>Ms. Nadkarni on NPR's Radio Show: <i>Wait Wait Don't Tell Me</i></h3></td>
            <td><h3>
                    <a>
                        <iframe src="https://www.npr.org/player/embed/773383500/773714743" width="400" height="180" frameborder="0" scrolling="no" title="NPR embedded audio player"></iframe>
                    </a>
                </h3></td>
        </tr>
        <tr>
            <td><h3>Nalini interviewed on NPR's <i>Short Wave </i></h3> podcast.</td>
            <td>
                <iframe src="https://www.npr.org/player/embed/761683361/770600811" width="400" height="180" frameborder="0" scrolling="no" title="NPR embedded audio player"></iframe>
            </td>
        </tr>
        <tr>
            <td>
                <h1>Other Stuff ==================== </h1>
            </td>
            <td></td>
        </tr>
        <tr>
            <td><h3>See Nancy Pelosi Rule the US House of Representatives</h3></td>
            <td><a href="https://twitter.com/i/status/1207476171664953344"><h3>Click This</h3></a></td>
        </tr>
    </table>
</div>