<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
      id="com.contoso.dlScanner"
      version="0.1.0">
    <name>dlScanner</name>
    <description>dlScanner plugin for Apache Cordova</description>
    <license>MIT</license>
    <keywords></keywords>
    <repo></repo>
    <issue></issue>

    <js-module src="www/dlScanner.js" name="dlScanner">
        <clobbers target="dlScanner" />
    </js-module>

    <!-- wp8 -->
    <platform name="wp8">
        <config-file target="config.xml" parent="/*">
            <feature name="dlScanner">
                <param name="wp-package" value="dlScanner"/>
            </feature>
        </config-file>

        <source-file src="src/wp/dlScanner.cs" />
    </platform>

    <!-- windows -->
    <platform name="windows">
        <js-module src="src/windows/dlScannerProxy.js" name="dlScannerProxy">
            <merges target="" />
        </js-module>
    </platform>

</plugin>
