<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
      id="com.contoso.pdsGenerated"
      version="0.1.0">
    <name>pdsGenerated</name>
    <description>pdsGenerated plugin for Apache Cordova</description>
    <license>MIT</license>
    <keywords></keywords>
    <repo></repo>
    <issue></issue>

    <js-module src="www/pdsGenerated.js" name="pdsGenerated">
        <clobbers target="pdsGenerated" />
    </js-module>

    <!-- wp8 -->
    <platform name="wp8">
        <config-file target="config.xml" parent="/*">
            <feature name="pdsGenerated">
                <param name="wp-package" value="pdsGenerated"/>
            </feature>
        </config-file>

        <source-file src="src/wp/pdsGenerated.cs" />
    </platform>

    <!-- windows -->
    <platform name="windows">
        <js-module src="src/windows/pdsGeneratedProxy.js" name="pdsGeneratedProxy">
            <merges target="" />
        </js-module>
    </platform>

</plugin>
